.footer{
    width: 100%;
    padding: 24px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
   background-color: var(--background);
}
.footer h1{
    font-size: 24px;
    line-height: 32px;
   color: var(--logo-color);
}



@media (max-width: 300px) {
    .footer {
        padding: 8px 0; 
    }

    .footer h1 {
        font-size: 0.9rem;
        line-height: 1.3rem; 
    }
}